/* style.css */

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #85bac9, #92ce9d); /* Gradient background */
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
}

h1, h3, h4 {
    color: #333333;
}

.form-container {
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form-container:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.input-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.input-shadow:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #007bff;
}

.btn-animate {
    background: #007bff;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.btn-animate:hover {
    background: #0056b3;
    transform: translateY(-2px);
}

.test-module {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.response-content, .query-content, .api-content {
    max-height: 300px;
    overflow-y: auto;
    white-space: pre-wrap;
    word-break: break-word;
    padding: 10px;
}

.download-link, .download-query-link, .download-api-link {
    display: none;
}

.btn-info, .btn-success {
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.btn-info:hover {
    background-color: #17a2b8;
    color: #fff;
}

.btn-success:hover {
    background-color: #28a745;
    color: #fff;
}
